/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styling for login and register forms */
.login-form-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem; /* px-4 */
}

@media (min-width: 640px) {
  .login-form-container {
    padding-left: 1.5rem; /* sm:px-6 */
    padding-right: 1.5rem; /* sm:px-6 */
  }
}

@media (min-width: 1024px) {
  .login-form-container {
    padding-left: 2rem; /* lg:px-8 */
    padding-right: 2rem; /* lg:px-8 */
  }
}

.login-form {
  @apply w-full max-w-lg p-6 bg-white rounded-lg shadow-xl;
}

.login-form h1 {
  @apply text-3xl font-bold text-center text-primary mb-4;
}

.login-form input {
  @apply w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary text-gray-900;
}

.login-form button {
  @apply w-full py-2 bg-primary text-white font-semibold rounded-md hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-primary focus:ring-opacity-50;
}

.login-form label {
  @apply block text-secondary font-medium mb-2;
}

.alert {
  @apply bg-red-100 border border-red-400 text-red-700 px-3 py-2 rounded mb-3;
}

.alert p {
  @apply text-sm;
}

/* Global styles for the sidebar */
.sidebar {
  @apply w-1/5 bg-white text-black min-h-screen p-6;
}

.sidebar h2 {
  @apply text-2xl font-bold mb-6;
}

.sidebar nav ul {
  @apply space-y-4;
}

.sidebar nav ul li {
  @apply text-lg;
}

.sidebar nav ul li a {
  @apply flex items-center gap-3 p-3 rounded-md text-black hover:bg-secondary transition-all duration-300;
}

.sidebar nav ul li a:hover {
  background-color: #E5E7EB;
}

.sidebar nav ul li a svg {
  @apply text-xl;
}

/* Increase specificity to target the active link correctly */
.sidebar nav ul li a.active {
  color: var(--surface);
  background-color: var(--primary);
}

.sidebar nav ul li a.active:hover {
  background-color: var(--secondary);
  color: var(--surface);
}

/* Custom color definitions for better reusability */
:root {
  --primary: #4F3CC9;
  --secondary: #5450B4;
  --background: #FCFCFE;
  --surface: #FFFFFF;
  --text: #000000;
}

/* Body background and surface */
body {
  background-color: var(--background);
  color: var(--text);
}

/* Custom styles for profile dropdown */
.sidebar .relative:hover .absolute {
  display: block;
}

.sidebar .absolute {
  display: none;
}

.sidebar .absolute button:hover {
  background-color: #FCFCFE;
}

.sidebarTitle {
  color: var(--primary);
}

/* Add this to your global CSS or Tailwind config */
.breadcrumb {
  display: flex;
  list-style: none;
  font-size: 0.875rem; /* small text */
  color: #4a4a4a;
}

.breadcrumb li a {
  text-decoration: none;
  color: #4F3CC9; /* Primary color */
}

.breadcrumb li a:hover {
  text-decoration: underline;
}
